



  <div class="container py-8">
    <div class="row">
      <!-- Job Details (Left Side) -->
      <div class="col-md-4">
        <div class="job-details-card card p-4">
          <h3 class="card-title mb-4">Job Title: {{ jobDetails.title }}</h3>
          <div class="card-body">
            <p><i class="bi bi-briefcase"></i><strong>Job Type:</strong> {{ jobDetails.jobType }}</p>
            <p><i class="bi bi-person-fill"></i><strong>Experience Required:</strong> {{ jobDetails.experience }}+</p>
            <p><i class="bi bi-graduation-cap"></i><strong>Education Level:</strong> {{ jobDetails.educationLevel }}</p>
            <p><i class="bi bi-cash-stack"></i><strong>Salary Range:</strong> {{ jobDetails.salaryRange }}</p>
            <p><i class="bi bi-gender-ambiguous"></i><strong>Gender:</strong> {{ jobDetails.gender }}</p>
            <p><i class="bi bi-check-circle"></i><strong>Requirements:</strong> {{ jobDetails.requirements }}</p>
            <p><i class="bi bi-calendar-x"></i><strong>Expiration Date:</strong> {{ jobDetails.expirationDate }}</p>
          </div>
        </div>
      </div>

      <!-- Additional Content (Right Side) -->
      <div class="col-md-8">
        <div class="form-container">
          <form [formGroup]="applicationForm" (ngSubmit)="onSubmit()">
            <div class="form-group mb-4">
              <label for="cv">CV (PDF)</label>
              <input
                type="file"
                class="form-control"
                id="cv"
                (change)="onFileSelected($event, 'cv')"
                [ngClass]="{ 'is-invalid': applicationForm.controls['cv'].invalid && applicationForm.controls['cv'].touched }"
                required
              />
              <div *ngIf="applicationForm.controls['cv'].invalid && applicationForm.controls['cv'].touched" class="invalid-feedback">
                CV is required.
              </div>
            </div>
            <div class="form-group mb-4">
              <label for="motivationLetter">Motivation Letter (PDF)</label>
              <input
                type="file"
                class="form-control"
                id="motivationLetter"
                (change)="onFileSelected($event, 'motivationLetter')"
                [ngClass]="{ 'is-invalid': applicationForm.controls['motivationLetter'].invalid && applicationForm.controls['motivationLetter'].touched }"
                required
              />
              <div *ngIf="applicationForm.controls['motivationLetter'].invalid && applicationForm.controls['motivationLetter'].touched" class="invalid-feedback">
                Motivation Letter is required.
              </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="applicationForm.invalid">
              Submit Application
            </button>
          </form>
        </div>
        <hr>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS (for any Bootstrap components requiring JS) -->
