body {
    background: rgb(99, 39, 120)
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background-color: white;
    border: 1px solid orange;
    border-radius: 0;
    color: orange;
    padding: 5px 10px; /* Adjust padding to make the button smaller */
    font-size: 14px; /* Adjust font size if needed */
}

.profile-button:hover {
    background-color: rgb(229, 154, 56);
    color: white;
    border: 1px solid rgb(229, 154, 56);
}

.profile-button:focus {
    background-color: rgb(229, 154, 56);
    color: white;
    border: 1px solid rgb(229, 154, 56);
}

.profile-button:active {
    background-color: rgb(229, 154, 56);
    color: white;
    border: 1px solid rgb(229, 154, 56);
}

.back:hover {
    background-color: rgb(229, 154, 56);
    color: white;
    border: 1px solid rgb(229, 154, 56);
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}
.login-btn, .signup-btn,.logout-btn {
    background-color: white;
    border: 1px solid orange;
    border-radius: 0;
    color: orange;
    padding: 5px 10px; /* Adjust padding to make the button smaller */
    font-size: 14px; /* Adjust font size if needed */
  }
  
  
  .login-btn:hover, .signup-btn:hover,.logout-btn:hover {
    background-color: rgb(229, 154, 56);
    color: white;
    border: 1px solid rgb(229, 154, 56);
  
  }
  