<p>Bonjour {{candidateName}},</p>
<p>Nous avons le plaisir de vous convier à un entretien pour le poste de "{{jobTitle}}".</p>
<p>Veuillez nous contacter à rh@example.com pour planifier une date.</p>
<p>Cordialement,<br>L'équipe RH</p>