<p>Bonjour {{candidateName}},</p>
<p>Nous vous remercions pour votre candidature au poste de "{{jobTitle}}".</p>
<p>Malheureusement, nous ne pouvons pas donner suite à votre candidature à ce stade.</p>
<p>Cordialement,<br>L'équipe RH</p>