<!DOCTYPE html>
<html>
<head>
  <title>Bienvenue</title>
</head>
<body>
  <h1>Bonjour {{name}},</h1>
  <p>Vous avez été ajouté en tant que RH. Voici vos identifiants :</p>
  <ul>
    <li><strong>Email :</strong> {{email}}</li>
    <li><strong>Mot de passe :</strong> {{password}}</li>
  </ul>
  <p>Veuillez vous connecter dès que possible et changer votre mot de passe pour des raisons de sécurité.</p>
  <p>Cordialement,<br>L’équipe de gestion</p>
</body>
</html>